In [1]:
import pandas as pd
import numpy as np

## Read data

In [23]:
general    = pd.read_pickle('./data/general.p')
shoting    = pd.read_pickle('./data/shoting.p')
passing    = pd.read_pickle('./data/passing.p')
pass_types = pd.read_pickle('./data/pass_types.p')
possession = pd.read_pickle('./data/possession.p')
defense    = pd.read_pickle('./data/defense.p')
gk         = pd.read_pickle('./data/gk.p')
gk_adv     = pd.read_pickle('./data/gk_adv.p')

## Remove Empty Rows

In [26]:
def remove_empty_rows(df):
    df = df.loc[df[('Unnamed: 1_level_0', 'Player')] != 'Player']
    return df

In [36]:
general    = remove_empty_rows(general) 
shoting    = remove_empty_rows(shoting)
passing    = remove_empty_rows(passing)
pass_types = remove_empty_rows(pass_types)
possession = remove_empty_rows(possession)
defense    = remove_empty_rows(defense)
gk         = remove_empty_rows(gk)
gk_adv     = remove_empty_rows(gk_adv)

## Remove multiplicated columns

In [44]:
cols_todrop = [('Unnamed: 0_level_0', 'Rk'),
 ('Unnamed: 2_level_0', 'Nation'),
 ('Unnamed: 3_level_0', 'Pos'),
 ('Unnamed: 4_level_0', 'Squad'),
 ('Unnamed: 5_level_0', 'Comp'),
 ('Unnamed: 6_level_0', 'Age'),
 ('Unnamed: 7_level_0', 'Born'),
 ('Unnamed: 8_level_0', '90s')]

In [55]:
shoting.columns

MultiIndex([( 'Unnamed: 1_level_0',  'Player'),
            (           'Standard',     'Gls'),
            (           'Standard',      'PK'),
            (           'Standard',   'PKatt'),
            (           'Standard',      'Sh'),
            (           'Standard',     'SoT'),
            (           'Standard',      'FK'),
            (           'Standard',    'SoT%'),
            (           'Standard',   'Sh/90'),
            (           'Standard',  'SoT/90'),
            (           'Standard',    'G/Sh'),
            (           'Standard',   'G/SoT'),
            (           'Expected',      'xG'),
            (           'Expected',    'npxG'),
            (           'Expected', 'npxG/Sh'),
            (           'Expected',    'G-xG'),
            (           'Expected', 'np:G-xG'),
            ('Unnamed: 25_level_0', 'Matches')],
           )

In [110]:
dataframes = [
shoting   ,
passing   ,
pass_types,
possession,
defense   ,
gk        ,
gk_adv
]

In [152]:
for df in dataframes:
    df.drop(labels=cols_todrop, axis=1, errors='ignore', inplace=True)
    df.drop(columns=[x for x in df.columns if 'Matches' in x], inplace=True)

C:\Users\lowicki\.conda\envs\rabona_env\lib\site-packages\pandas\core\frame.py:3990: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

## Set player name as index

In [109]:
colplayer = ( 'Unnamed: 1_level_0',  'Player')

In [111]:
for df in dataframes:
    df.set_index(colplayer, inplace=True)

In [127]:
general.set_index(colplayer, inplace=True)

In [132]:
t = pd.merge(general, shoting, left_index=True, right_index=True)

In [135]:
m2 = pd.merge(t, passing, left_index=True, right_index=True)

In [137]:
m3 = pd.merge(m2, pass_types, left_index=True, right_index=True)

In [138]:
m4 = pd.merge(m3, possession, left_index=True, right_index=True)

In [139]:
m5 = pd.merge(m4, defense, left_index=True, right_index=True)

In [141]:
result = m5

In [151]:
result.to_pickle('./data/merged_data.p')

In [149]:
mask_midfielder_attacking = [
        ('Standard', 'Gls'),
        ('Expected_y', 'npxG'),
        ('Expected_y', 'npxG/Sh')
        ('Unnamed: 24_level_0', 'xA'),
        ('Unnamed: 27_level_0', '1/3'),
        ('Total', 'PrgDist'),
        ('Total', 'Cmp%'),
        ('Dribbles', 'Succ%'),
        ('Unnamed: 28_level_0', 'Dispos'),
        ('Vs Dribbles', 'Past')
       ]

In [150]:
result[mask_midfielder_attacking].loc[result.index == 'Piotr Zieliński']

                             Unnamed: 24_level_0 Unnamed: 27_level_0   Total  \
                                              xA                 1/3 PrgDist
(Unnamed: 1_level_0, Player)
Piotr Zieliński                              2.0                 214    6688

                                   Dribbles Unnamed: 28_level_0 Vs Dribbles
                              Cmp%    Succ%              Dispos        Past
(Unnamed: 1_level_0, Player)
Piotr Zieliński               87.0     63.0                  37          26

In [15]:
df = pd.read_pickle('merged_fieldplayers.p')

In [16]:
non_num_cols = [(   'Unnamed: 2_level_0',  'Nation'),
            (   'Unnamed: 3_level_0',     'Pos'),
            (   'Unnamed: 4_level_0',   'Squad'),
            (   'Unnamed: 5_level_0',    'Comp')]

In [17]:
for column in df.columns:
    if column not in non_num_cols:
        df[column] = pd.to_numeric(df[column])

In [19]:
positions = df[('Unnamed: 3_level_0', 'Pos')].str.split(',', expand=True)
df[('Position', 'Pos')] = positions[0]
df[('Position', 'Alt')] = positions[1]

In [24]:
df.reset_index(inplace.)

      Unnamed: 1_level_0 Unnamed: 0_level_0 Unnamed: 2_level_0  \
                  Player                 Rk             Nation
0         Aaron Connolly                521             ie IRL
1        Aaron Cresswell                555            eng ENG
2           Aaron Lennon               1332            eng ENG
3       Aaron Leya Iseka               1343             be BEL
4             Aaron Mooy               1610             au AUS
...                  ...                ...                ...
11036   Łukasz Skorupski               2213             pl POL
11037  Łukasz Teodorczyk               2330             pl POL
11038      Šime Vrsaljko               2484             hr CRO
11039          Žan Majer               1433             si SVN
11040        Ștefan Radu               1936             ro ROU

      Unnamed: 3_level_0 Unnamed: 4_level_0  Unnamed: 5_level_0  \
                     Pos              Squad                Comp
0                     FW           Brighton  eng Premier League
1                     DF           West Ham  eng Premier League
2                     MF            Burnley  eng Premier League
3                     FW           Toulouse          fr Ligue 1
4                  MF,FW           Brighton  eng Premier League
...                  ...                ...                 ...
11036                 GK            Bologna          it Serie A
11037              DF,FW            Udinese          it Serie A
11038                 DF    Atlético Madrid          es La Liga
11039                 MF              Lecce          it Serie A
11040                 DF              Lazio          it Serie A

      Unnamed: 6_level_0 Unnamed: 7_level_0 Playing Time         ...  \
                     Age               Born           MP Starts  ...
0                   19.0             2000.0           17      9  ...
1                   29.0             1989.0           23     23  ...
2                   32.0             1987.0           16      4  ...
3                   21.0             1997.0           22      6  ...
4                   28.0             1990.0           22     20  ...
...                  ...                ...          ...    ...  ...
11036               28.0             1991.0           25     25  ...
11037               28.0             1991.0            7      0  ...
11038               27.0             1992.0            5      4  ...
11039               27.0             1992.0           20     18  ...
11040               32.0             1986.0           22     22  ...

      Pressures Blocks                 Unnamed: 28_level_0  \
        Att 3rd Blocks   Sh ShSv  Pass                 Int
0          96.0    6.0  1.0  0.0   5.0                   0
1          25.0   52.0  9.0  0.0  43.0                  26
2          39.0    8.0  2.0  0.0   6.0                   7
3          54.0    6.0  1.0  0.0   5.0                   1
4          95.0   37.0  5.0  1.0  32.0                  16
...         ...    ...  ...  ...   ...                 ...
11036       0.0    0.0  0.0  0.0   0.0                   2
11037       9.0    0.0  0.0  0.0   0.0                   0
11038       8.0   12.0  3.0  0.0   9.0                   8
11039      47.0   38.0  8.0  1.0  30.0                  22
11040      13.0   25.0  8.0  0.0  17.0                  23

      Unnamed: 29_level_0 Unnamed: 30_level_0 Position
                      Clr                 Err      Pos   Alt
0                     1.0                 0.0       FW  None
1                    71.0                 2.0       DF  None
2                     6.0                 0.0       MF  None
3                     7.0                 0.0       FW  None
4                    20.0                 0.0       MF    FW
...                   ...                 ...      ...   ...
11036                 0.0                 1.0       GK  None
11037                 1.0                 0.0       DF    FW
11038                12.0                 0.0       DF  None
11039                23.0                 1.0       MF  None
11040                95.0                 0.0       DF  None

[11041 rows x 137 columns]

In [25]:
df[('info', 'Player')] = df.index