In [1]:
import pandas as pd

In [ ]:
template_gk = []

template_full_back = []

template_central_back = []

template_midfield_defensive = []

template_midfield_attacking = ['xA', 
                               'Passes into final 1/3', 
                               'Progressive Distance',
                               'Pass completion %',
                               'Successful dribbles',
                               'Dribble success %',
                               'Times Disposesed',
                               'Tackle/Dribbled Past']

template_forward = []

In [2]:
df = pd.read_pickle('./data/merged_fieldplayers.p')

In [3]:
df_info = [ (   'Unnamed: 2_level_0',  'Nation'),
            (   'Unnamed: 3_level_0',     'Pos'),
            (   'Unnamed: 4_level_0',   'Squad'),
            (   'Unnamed: 5_level_0',    'Comp'),
            ('Position', 'Pos'),
            ('Position', 'Alt')]

## Normalization

In [6]:
from sklearn import preprocessing

In [18]:
cols_to_norm = [x for x in df.columns if x not in df_info]

In [19]:
df_num  = df[cols_to_norm]

In [20]:
df_num

                             Unnamed: 0_level_0 Unnamed: 6_level_0  \
                                             Rk                Age
(Unnamed: 1_level_0, Player)
Aaron Connolly                              521               19.0
Aaron Cresswell                             555               29.0
Aaron Lennon                               1332               32.0
Aaron Leya Iseka                           1343               21.0
Aaron Mooy                                 1610               28.0
...                                         ...                ...
Łukasz Skorupski                           2213               28.0
Łukasz Teodorczyk                          2330               28.0
Šime Vrsaljko                              2484               27.0
Žan Majer                                  1433               27.0
Ștefan Radu                                1936               32.0

                             Unnamed: 7_level_0 Playing Time               \
                                           Born           MP Starts   Min
(Unnamed: 1_level_0, Player)
Aaron Connolly                           2000.0           17      9   833
Aaron Cresswell                          1989.0           23     23  2023
Aaron Lennon                             1987.0           16      4   496
Aaron Leya Iseka                         1997.0           22      6   777
Aaron Mooy                               1990.0           22     20  1653
...                                         ...          ...    ...   ...
Łukasz Skorupski                         1991.0           25     25  2250
Łukasz Teodorczyk                        1991.0            7      0    46
Šime Vrsaljko                            1992.0            5      4   362
Žan Majer                                1992.0           20     18  1410
Ștefan Radu                              1986.0           22     22  1864

                             Performance               ... Pressures          \
                                     Gls Ast PK PKatt  ...   Def 3rd Mid 3rd
(Unnamed: 1_level_0, Player)                           ...
Aaron Connolly                         2   0  0     0  ...      10.0    68.0
Aaron Cresswell                        3   0  0     0  ...     158.0   112.0
Aaron Lennon                           0   0  0     0  ...      37.0    67.0
Aaron Leya Iseka                       2   0  1     2  ...      10.0    73.0
Aaron Mooy                             2   1  0     0  ...      84.0   165.0
...                                  ...  .. ..   ...  ...       ...     ...
Łukasz Skorupski                       0   0  0     0  ...       3.0     0.0
Łukasz Teodorczyk                      0   1  0     0  ...       8.0    10.0
Šime Vrsaljko                          0   1  0     0  ...      15.0    15.0
Žan Majer                              1   1  0     0  ...     158.0   148.0
Ștefan Radu                            1   0  0     0  ...     133.0    68.0

                                     Blocks                  \
                             Att 3rd Blocks   Sh ShSv  Pass
(Unnamed: 1_level_0, Player)
Aaron Connolly                  96.0    6.0  1.0  0.0   5.0
Aaron Cresswell                 25.0   52.0  9.0  0.0  43.0
Aaron Lennon                    39.0    8.0  2.0  0.0   6.0
Aaron Leya Iseka                54.0    6.0  1.0  0.0   5.0
Aaron Mooy                      95.0   37.0  5.0  1.0  32.0
...                              ...    ...  ...  ...   ...
Łukasz Skorupski                 0.0    0.0  0.0  0.0   0.0
Łukasz Teodorczyk                9.0    0.0  0.0  0.0   0.0
Šime Vrsaljko                    8.0   12.0  3.0  0.0   9.0
Žan Majer                       47.0   38.0  8.0  1.0  30.0
Ștefan Radu                     13.0   25.0  8.0  0.0  17.0

                             Unnamed: 28_level_0 Unnamed: 29_level_0  \
                                             Int                 Clr
(Unnamed: 1_level_0, Player)
Aaron Connolly                                 0                 1.0
Aaron Cresswell                               26                71.0
Aaron Lennon                                   7                 6.0
Aaron Leya Iseka                               1                 7.0
Aaron Mooy                                    16                20.0
...                                          ...                 ...
Łukasz Skorupski                               2                 0.0
Łukasz Teodorczyk                              0                 1.0
Šime Vrsaljko                                  8                12.0
Žan Majer                                     22                23.0
Ștefan Radu                                   23                95.0

                             Unnamed: 30_level_0
                                             Err
(Unnamed: 1_level_0, Player)
Aaron Connolly                               0.0
Aaron Cresswell                              2.0
Aaron Lennon                                 0.0
Aaron Leya Iseka                             0.0
Aaron Mooy                                   0.0
...                                          ...
Łukasz Skorupski                             1.0
Łukasz Teodorczyk                            0.0
Šime Vrsaljko                                0.0
Žan Majer                                    1.0
Ștefan Radu                                  0.0

[11041 rows x 130 columns]

In [21]:
df[cols_to_norm].values

array([[5.210e+02, 1.900e+01, 2.000e+03, ..., 0.000e+00, 1.000e+00,
        0.000e+00],
       [5.550e+02, 2.900e+01, 1.989e+03, ..., 2.600e+01, 7.100e+01,
        2.000e+00],
       [1.332e+03, 3.200e+01, 1.987e+03, ..., 7.000e+00, 6.000e+00,
        0.000e+00],
       ...,
       [2.484e+03, 2.700e+01, 1.992e+03, ..., 8.000e+00, 1.200e+01,
        0.000e+00],
       [1.433e+03, 2.700e+01, 1.992e+03, ..., 2.200e+01, 2.300e+01,
        1.000e+00],
       [1.936e+03, 3.200e+01, 1.986e+03, ..., 2.300e+01, 9.500e+01,
        0.000e+00]])

In [27]:
%%timeit
x = df[cols_to_norm].values #returns a numpy array
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(x)
normalized_mf = pd.DataFrame(x_scaled, columns=cols_to_norm)

35.6 ms ± 665 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [28]:
normalized_mf

,"(Unnamed: 0_level_0, Rk)","(Unnamed: 6_level_0, Age)","(Unnamed: 7_level_0, Born)","(Playing Time, MP)","(Playing Time, Starts)","(Playing Time, Min)","(Performance, Gls)","(Performance, Ast)","(Performance, PK)","(Performance, PKatt)",...,"(Pressures, Def 3rd)","(Pressures, Mid 3rd)","(Pressures, Att 3rd)","(Blocks, Blocks)","(Blocks, Sh)","(Blocks, ShSv)","(Blocks, Pass)","(Unnamed: 28_level_0, Int)","(Unnamed: 29_level_0, Clr)","(Unnamed: 30_level_0, Err)"
0,0.201394,0.153846,0.884615,0.571429,0.310345,0.318896,0.068966,0.000000,0.0,0.000000,...,0.031546,0.149123,0.284866,0.068966,0.021739,0.000000,0.064935,0.000000,0.003731,0.0
1,0.214562,0.538462,0.461538,0.785714,0.793103,0.775010,0.103448,0.000000,0.0,0.000000,...,0.498423,0.245614,0.074184,0.597701,0.195652,0.000000,0.558442,0.400000,0.264925,0.4
2,0.515492,0.653846,0.384615,0.535714,0.137931,0.189728,0.000000,0.000000,0.0,0.000000,...,0.116719,0.146930,0.115727,0.091954,0.043478,0.000000,0.077922,0.107692,0.022388,0.0
3,0.519752,0.230769,0.769231,0.750000,0.206897,0.297432,0.068966,0.000000,0.1,0.181818,...,0.031546,0.160088,0.160237,0.068966,0.021739,0.000000,0.064935,0.015385,0.026119,0.0
4,0.623160,0.500000,0.500000,0.750000,0.689655,0.633193,0.068966,0.055556,0.0,0.000000,...,0.264984,0.361842,0.281899,0.425287,0.108696,0.333333,0.415584,0.246154,0.074627,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11036,0.856700,0.500000,0.538462,0.857143,0.862069,0.862016,0.000000,0.000000,0.0,0.000000,...,0.009464,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.030769,0.000000,0.2
11037,0.902014,0.500000,0.538462,0.214286,0.000000,0.017248,0.000000,0.055556,0.0,0.000000,...,0.025237,0.021930,0.026706,0.000000,0.000000,0.000000,0.000000,0.000000,0.003731,0.0
11038,0.961658,0.461538,0.576923,0.142857,0.137931,0.138367,0.000000,0.055556,0.0,0.000000,...,0.047319,0.032895,0.023739,0.137931,0.065217,0.000000,0.116883,0.123077,0.044776,0.0
11039,0.554609,0.461538,0.576923,0.678571,0.620690,0.540054,0.034483,0.055556,0.0,0.000000,...,0.498423,0.324561,0.139466,0.436782,0.173913,0.333333,0.389610,0.338462,0.085821,0.2
11040,0.749419,0.653846,0.346154,0.750000,0.758621,0.714067,0.034483,0.000000,0.0,0.000000,...,0.419558,0.149123,0.038576,0.287356,0.173913,0.000000,0.220779,0.353846,0.354478,0.0

In [43]:
df_info.reset_index(inplace=True)

In [45]:
normalized = pd.merge(df_info, normalized_mf, left_index=True, right_index=True)

C:\Users\lowicki\.conda\envs\rabona_env\lib\site-packages\pandas\core\reshape\merge.py:618: UserWarning: merging between different levels can give an unintended result (2 levels on the left, 1 on the right)
  warnings.warn(msg, UserWarning)

In [46]:
normalized.to_pickle('./data/normalized.p')

In [49]:
normalized.columns

MultiIndex([( 'Unnamed: 1_level_0',  'Player'),
            ( 'Unnamed: 2_level_0',  'Nation'),
            ( 'Unnamed: 3_level_0',     'Pos'),
            ( 'Unnamed: 4_level_0',   'Squad'),
            ( 'Unnamed: 5_level_0',    'Comp'),
            ( 'Unnamed: 0_level_0',      'Rk'),
            ( 'Unnamed: 6_level_0',     'Age'),
            ( 'Unnamed: 7_level_0',    'Born'),
            (       'Playing Time',      'MP'),
            (       'Playing Time',  'Starts'),
            ...
            (          'Pressures', 'Def 3rd'),
            (          'Pressures', 'Mid 3rd'),
            (          'Pressures', 'Att 3rd'),
            (             'Blocks',  'Blocks'),
            (             'Blocks',      'Sh'),
            (             'Blocks',    'ShSv'),
            (             'Blocks',    'Pass'),
            ('Unnamed: 28_level_0',     'Int'),
            ('Unnamed: 29_level_0',     'Clr'),
            ('Unnamed: 30_level_0',     'Err')],
           length=135)

In [51]:
normalized[[
        ( 'Unnamed: 1_level_0',  'Player'),
        ('Standard', 'Gls'),
        ('Expected_y', 'npxG'),
        ('Expected_y', 'npxG/Sh'),
        ('Unnamed: 24_level_0', 'xA'),
        ('Unnamed: 27_level_0', '1/3'),
        ('Total', 'PrgDist'),
        ('Total', 'Cmp%'),
        ('Dribbles', 'Succ%'),
        ('Unnamed: 28_level_0', 'Dispos'),
        ('Vs Dribbles', 'Past')
       ]]

      Unnamed: 1_level_0  Standard Expected_y           Unnamed: 24_level_0  \
                  Player       Gls       npxG   npxG/Sh                  xA
0         Aaron Connolly  0.068966   0.114286  0.115385            0.013986
1        Aaron Cresswell  0.103448   0.057143  0.089744            0.090909
2           Aaron Lennon  0.000000   0.000000  0.025641            0.006993
3       Aaron Leya Iseka  0.068966   0.180952  0.179487            0.013986
4             Aaron Mooy  0.068966   0.090476  0.064103            0.195804
...                  ...       ...        ...       ...                 ...
11036   Łukasz Skorupski  0.000000   0.000000       NaN            0.000000
11037  Łukasz Teodorczyk  0.000000   0.023810  0.205128            0.020979
11038      Šime Vrsaljko  0.000000   0.000000       NaN            0.020979
11039          Žan Majer  0.034483   0.052381  0.076923            0.090909
11040        Ștefan Radu  0.034483   0.009524  0.038462            0.020979

      Unnamed: 27_level_0     Total        Dribbles Unnamed: 28_level_0  \
                      1/3   PrgDist   Cmp%    Succ%              Dispos
0                0.008163  0.006297  0.730    0.273            0.186047
1                0.387755  0.344265  0.737    0.412            0.085271
2                0.020408  0.014749  0.702    0.750            0.038760
3                0.044898  0.010650  0.776    0.538            0.224806
4                0.297959  0.148297  0.761    0.705            0.341085
...                   ...       ...    ...      ...                 ...
11036            0.012245  0.408123  0.730      NaN            0.000000
11037            0.008163  0.001775  0.731    0.667            0.023256
11038            0.016327  0.038078  0.669      NaN            0.023256
11039            0.212245  0.090863  0.783    0.550            0.116279
11040            0.334694  0.294945  0.873    0.846            0.023256

      Vs Dribbles
             Past
0        0.079545
1        0.352273
2        0.056818
3        0.011364
4        0.306818
...           ...
11036    0.000000
11037    0.011364
11038    0.022727
11039    0.420455
11040    0.215909

[11041 rows x 11 columns]

In [51]:
pd.merge(df.index, df[[
        df.index,
        ( 'Unnamed: 1_level_0',  'Player'),
        ('Standard', 'Gls'),
        ('Expected_y', 'npxG'),
        ('Expected_y', 'npxG/Sh'),
        ('Unnamed: 24_level_0', 'xA'),
        ('Unnamed: 27_level_0', '1/3'),
        ('Total', 'PrgDist'),
        ('Total', 'Cmp%'),
        ('Dribbles', 'Succ%'),
        ('Unnamed: 28_level_0', 'Dispos'),
        ('Vs Dribbles', 'Past')]], left_index=True, right_index=True)

TypeError: unhashable type: 'Index'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 1653, in pandas._libs.hashtable.PyObjectHashTable.map_locations
  File "C:\Users\lowicki\.conda\envs\rabona_env\lib\site-packages\pandas\core\indexes\base.py", line 3906, in __hash__
    raise TypeError(f"unhashable type: {repr(type(self).__name__)}")
TypeError: unhashable type: 'Index'

NotImplementedError: Index._join_level on non-unique index is not implemented

In [42]:
def normalize(df,template):
    df_info = df[[ (   'Unnamed: 2_level_0',  'Nation'),
            (   'Unnamed: 3_level_0',     'Pos'),
            (   'Unnamed: 4_level_0',   'Squad'),
            (   'Unnamed: 5_level_0',    'Comp'),
            ('Position', 'Pos'),
            ('Position', 'Alt')]]
    df_info.reset_index(inplace=True)

    x = df[template].values  # returns a numpy array
    min_max_scaler = preprocessing.MinMaxScaler()
    x_scaled = min_max_scaler.fit_transform(x)
    normalized = pd.DataFrame(x_scaled, columns=template)
    result = pd.merge(df_info, normalized, left_index=True, right_index=True)
    result.set_index(( 'Unnamed: 1_level_0',  'Player'), inplace=True)
    
    return result

In [31]:
am_attributes = [
        ('Standard',            'Gls'),
        ('Expected_y',          'npxG'),
        ('Expected_y',          'npxG/Sh'),
        ('Unnamed: 24_level_0', 'xA'),
        ('Unnamed: 27_level_0', '1/3'),
        ('Total',               'PrgDist'),
        ('Total',               'Cmp%'),
        ('Dribbles',            'Succ%'),
        ('Unnamed: 28_level_0', 'Dispos'),
        ('Vs Dribbles',         'Past')
       ]

In [43]:
ndf = normalize(df, am_attributes)

C:\Users\lowicki\.conda\envs\rabona_env\lib\site-packages\pandas\core\reshape\merge.py:618: UserWarning: merging between different levels can give an unintended result (2 levels on the left, 1 on the right)
  warnings.warn(msg, UserWarning)

In [46]:
ndf[(   'Unnamed: 3_level_0',     'Pos')].unique()

array(['FW', 'DF', 'MF', 'MF,FW', 'GK', 'FW,MF', 'DF,FW', 'FW,DF',
       'DF,MF', 'MF,DF', 'GK,FW'], dtype=object)

In [53]:
[x for x in df.columns]

[('Unnamed: 0_level_0', 'Rk'),
 ('Unnamed: 2_level_0', 'Nation'),
 ('Unnamed: 3_level_0', 'Pos'),
 ('Unnamed: 4_level_0', 'Squad'),
 ('Unnamed: 5_level_0', 'Comp'),
 ('Unnamed: 6_level_0', 'Age'),
 ('Unnamed: 7_level_0', 'Born'),
 ('Playing Time', 'MP'),
 ('Playing Time', 'Starts'),
 ('Playing Time', 'Min'),
 ('Performance', 'Gls'),
 ('Performance', 'Ast'),
 ('Performance', 'PK'),
 ('Performance', 'PKatt'),
 ('Performance', 'CrdY'),
 ('Performance', 'CrdR'),
 ('Per 90 Minutes', 'Gls'),
 ('Per 90 Minutes', 'Ast'),
 ('Per 90 Minutes', 'G+A'),
 ('Per 90 Minutes', 'G-PK'),
 ('Per 90 Minutes', 'G+A-PK'),
 ('Expected_x', 'xG'),
 ('Expected_x', 'npxG'),
 ('Expected_x', 'xA'),
 ('Per 90 Minutes', 'xG'),
 ('Per 90 Minutes', 'xA'),
 ('Per 90 Minutes', 'xG+xA'),
 ('Per 90 Minutes', 'npxG'),
 ('Per 90 Minutes', 'npxG+xA'),
 ('Standard', 'Gls'),
 ('Standard', 'PK'),
 ('Standard', 'PKatt'),
 ('Standard', 'Sh'),
 ('Standard', 'SoT'),
 ('Standard', 'FK'),
 ('Standard', 'SoT%'),
 ('Standard', 'Sh/90'),
 ('Standard', 'SoT/90'),
 ('Standard', 'G/Sh'),
 ('Standard', 'G/SoT'),
 ('Expected_y', 'xG'),
 ('Expected_y', 'npxG'),
 ('Expected_y', 'npxG/Sh'),
 ('Expected_y', 'G-xG'),
 ('Expected_y', 'np:G-xG'),
 ('Total', 'Cmp'),
 ('Total', 'Att'),
 ('Total', 'Cmp%'),
 ('Total', 'TotDist'),
 ('Total', 'PrgDist'),
 ('Short', 'Cmp'),
 ('Short', 'Att'),
 ('Short', 'Cmp%'),
 ('Medium', 'Cmp'),
 ('Medium', 'Att'),
 ('Medium', 'Cmp%'),
 ('Long', 'Cmp'),
 ('Long', 'Att'),
 ('Long', 'Cmp%'),
 ('Unnamed: 23_level_0', 'Ast'),
 ('Unnamed: 24_level_0', 'xA'),
 ('Unnamed: 25_level_0', 'A-xA'),
 ('Unnamed: 26_level_0', 'KP'),
 ('Unnamed: 27_level_0', '1/3'),
 ('Unnamed: 28_level_0', 'PPA'),
 ('Unnamed: 29_level_0', 'CrsPA'),
 ('Unnamed: 30_level_0', 'Prog'),
 ('Unnamed: 9_level_0', 'Att'),
 ('Pass Types', 'Live'),
 ('Pass Types', 'Dead'),
 ('Pass Types', 'FK'),
 ('Pass Types', 'TB'),
 ('Pass Types', 'Press'),
 ('Pass Types', 'Sw'),
 ('Pass Types', 'Crs'),
 ('Pass Types', 'CK'),
 ('Corner Kicks', 'In'),
 ('Corner Kicks', 'Out'),
 ('Corner Kicks', 'Str'),
 ('Height', 'Ground'),
 ('Height', 'Low'),
 ('Height', 'High'),
 ('Body Parts', 'Left'),
 ('Body Parts', 'Right'),
 ('Body Parts', 'Head'),
 ('Body Parts', 'TI'),
 ('Body Parts', 'Other'),
 ('Outcomes', 'Cmp'),
 ('Outcomes', 'Off'),
 ('Outcomes', 'Out'),
 ('Outcomes', 'Int'),
 ('Outcomes', 'Blocks'),
 ('Touches', 'Touches'),
 ('Touches', 'Def Pen'),
 ('Touches', 'Def 3rd'),
 ('Touches', 'Mid 3rd'),
 ('Touches', 'Att 3rd'),
 ('Touches', 'Att Pen'),
 ('Touches', 'Live'),
 ('Dribbles', 'Succ'),
 ('Dribbles', 'Att'),
 ('Dribbles', 'Succ%'),
 ('Dribbles', '#Pl'),
 ('Dribbles', 'Megs'),
 ('Carries', 'Carries'),
 ('Carries', 'TotDist'),
 ('Carries', 'PrgDist'),
 ('Receiving', 'Targ'),
 ('Receiving', 'Rec'),
 ('Receiving', 'Rec%'),
 ('Unnamed: 27_level_0', 'Miscon'),
 ('Unnamed: 28_level_0', 'Dispos'),
 ('Tackles', 'Tkl'),
 ('Tackles', 'TklW'),
 ('Tackles', 'Def 3rd'),
 ('Tackles', 'Mid 3rd'),
 ('Tackles', 'Att 3rd'),
 ('Vs Dribbles', 'Tkl'),
 ('Vs Dribbles', 'Att'),
 ('Vs Dribbles', 'Tkl%'),
 ('Vs Dribbles', 'Past'),
 ('Pressures', 'Press'),
 ('Pressures', 'Succ'),
 ('Pressures', '%'),
 ('Pressures', 'Def 3rd'),
 ('Pressures', 'Mid 3rd'),
 ('Pressures', 'Att 3rd'),
 ('Blocks', 'Blocks'),
 ('Blocks', 'Sh'),
 ('Blocks', 'ShSv'),
 ('Blocks', 'Pass'),
 ('Unnamed: 28_level_0', 'Int'),
 ('Unnamed: 29_level_0', 'Clr'),
 ('Unnamed: 30_level_0', 'Err'),
 ('Position', 'Pos'),
 ('Position', 'Alt')]

In [52]:
df.columns

MultiIndex([( 'Unnamed: 0_level_0',      'Rk'),
            ( 'Unnamed: 2_level_0',  'Nation'),
            ( 'Unnamed: 3_level_0',     'Pos'),
            ( 'Unnamed: 4_level_0',   'Squad'),
            ( 'Unnamed: 5_level_0',    'Comp'),
            ( 'Unnamed: 6_level_0',     'Age'),
            ( 'Unnamed: 7_level_0',    'Born'),
            (       'Playing Time',      'MP'),
            (       'Playing Time',  'Starts'),
            (       'Playing Time',     'Min'),
            ...
            (          'Pressures', 'Att 3rd'),
            (             'Blocks',  'Blocks'),
            (             'Blocks',      'Sh'),
            (             'Blocks',    'ShSv'),
            (             'Blocks',    'Pass'),
            ('Unnamed: 28_level_0',     'Int'),
            ('Unnamed: 29_level_0',     'Clr'),
            ('Unnamed: 30_level_0',     'Err'),
            (           'Position',     'Pos'),
            (           'Position',     'Alt')],
           length=136)